    <!-- Courses Banner Start -->
<div class="courses-banner-section">
    <div class="courses-banner">
        <div class="banner-heading">
            <div class="banner-span">Ready to get started?</div>
            <div class="banner-title">Take Your <span>Skills</span> to the Next Level</div>
            <div class="banner-btn">
                <div class="c-b-btn">
                    <a href="#" class="b-btn">Work with us</a>
                </div>
            </div>
        </div>
        <div class="banner-image">
            <img src="/images/courses-img.png" alt="" class="banner-img">
        </div>
    </div>
</div>
<!-- Courses Banner End -->
