    <!-- Course Author Start  -->
<div class="course-author-section">
    <div class="course-author">
        <div class="c-a-image">
            <div class="c-a-img">
                <img class="a-img" src="/images/author.png" alt="">
            </div>
        </div>
        <div class="c-a-content">
            <div class="c-a-c">
                <div class="c-a-c-span">Learn from the best</div>
                <div class="c-a-c-title">Albert Flores</div>
                <div class="c-a-c-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum corrupti architecto, ratione ullam blanditiis, quam itaque impedit earum autem incidunt nam libero necessitatibus beatae assumenda odit voluptatibus eum illum dolorum velit tenetur perferendis consequuntur ipsam molestias maiores? Placeat, velit! Dolor sequi saepe quisquam quo omnis ab! Distinctio nostrum, impedit esse ut eum natus deleniti sit vero maxime ad? Ex error vel facere esse.
                </div>
                <div class="c-a-c-buttons">
                    <a href="#" class="c-a-c-b-subsc"><i class="fa-brands fa-youtube"></i>240k subscribers</a>
                    <a href="#" class="c-a-c-b-follo"><i class="fa-brands fa-square-facebook"></i>180k followers</a>
                </div>
            </div>
            <div class="course-bg-image">
                <img class="c-bg-img" src="/images/pattern.svg" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Course Author End  -->