    <!-- Page Title Section Start -->
<div class="page-title-section">
    <div class="p-title">
        <div class="page-name"><i class="fa-solid fa-house"></i>Home</div>
        <div class="page-icon"><i class="fa-solid fa-angles-right"></i></div>
        <div class="sub-page-name">Cources</div>
        <div class="page-icon"><i class="fa-solid fa-angles-right"></i></div>
        @Model
    </div>
</div>
<!-- Page Title Section End -->
